 @use "../../styles/variables.scss" as *;
#viewerContainer {
    width: 100%;
    height: calc(100vh - 32px) !important;
    border: 6px #404046;
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

:root {
  --body-bg-color: var(--light) !important;
}

#viewerContainer::-webkit-scrollbar {
  display: none;
}

.text-layer {
  border: 666px #404046;
  border-radius: 8px;
  filter: drop-shadow(0 0 14px var(--gray));
  z-index: 50;
}

.quartz-body {
  overflow: hidden !important;
}


button#openFile,#print,#download,#text,#editorFreeText,#editorInk,#editorStamp,#sidebarToggle {
  display: none;
}

#toolbarContainer {
  background-color: var(--light) !important;
  --toolbar-icon-bg-color: var(--secondary) !important;
  --button-hover-color: var(--highlight) !important;
  --toggled-btn-bg-color: var(--secondary) !important;
  --dropdown-btn-bg-color: var(--light) !important;
  border-bottom: transparent !important;
  box-shadow: none !important;
}

.secondaryToolbar:not(.doorHangerRight) {
  --doorhanger-bg-color: var(--darkgray) !important;
  opacity: 0.8;
  backdrop-filter: blur(155px) saturate(90%) contrast(70%) brightness(80%) !important;
}

.toolbarButton, .dropdownToolbarButton, .secondaryToolbarButton, .dialogButton, #scaleSelect {
  border-radius: 8px !important;
  color: var(--secondary) !important;
}

.toolbarField {
  background-color: var(--light) !important; 
  color: var(--secondary) !important;
  border: transparent !important;
}

@media all and (min-width: $fullPageWidth) {


    #viewerContainer {
        border-radius: 16px;
    }

    .center:has(#viewerContainer) {
        .page-header {
            display: none;
        }
        & .right.sidebar {
            display: none !important;
        }

        & .graph {
            display: none !important;
            opacity: 0;
        }

        margin-top: 0;
        margin-right: 0% !important;
        margin-left: 20vw !important;
        flex-grow: 1
    }

    
    .page:has(#viewerContainer) .left {
        left: 0 !important;
        height: 100%;
        padding: 0;
        flex-shrink: 1
    }


}
