// put your custom CSS here!
::view-transition-old(transition_title) {
    /* Prevent the default animation,
    so both views remain opacity:1 throughout the transition */
    //animation: none;
    /* Use normal blending,
    so the new view sits on top and obscures the old view */
    //mix-blend-mode: normal;
    background-color: transparent;
    color: white;
    scale: 0.25;
    transform-origin: left;
    transform-style: preserve-3d;
    transition-timing-function: cubic-bezier(.4,1.22,.5,.52);
}

::view-transition-new(transition_title) {
    /* Prevent the default animation,
    so both views remain opacity:1 throughout the transition */
    animation: none;
    /* Use normal blending,
    so the new view sits on top and obscures the old view */
    mix-blend-mode: normal;
}

/* .click-transition {
    background-color: transparent !important;
    color: white !important;
} */


.left, .right {
    overflow-y: auto !important;
    
      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    
       /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .prevent-select {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      }

    .pdf {
      width: 100%;
      height: 60vh;
      border-radius: 16px;
      filter: drop-shadow(0 0 14px var(--gray));
    }

  .toolbar {
      background-color: red;
  }