// Sizes
$size-2-1: 2px;
$size-2-2: 4px;
$size-2-3: 6px;
$size-4-1: 4px;
$size-4-2: 8px;
$size-4-3: 12px;
$size-4-4: 16px;
$size-4-5: 20px;
$size-4-6: 24px;
$size-4-8: 32px;
$size-4-9: 36px;
$size-4-12: 48px;
$size-4-16: 64px;
$size-4-18: 72px;

// Radius
$radius-s: 4px;
$radius-m: 8px;
$radius-l: 12px;
$radius-xl: 16px;



// Font
$font-smallest: 0.8em;
$font-smaller: 0.875em;
$font-small: 0.933em;
$font-ui-smaller: 12px;
$font-ui-small: 13px;
$font-ui-medium: 15px;
$font-ui-large: 20px;
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;