// Colours
$color-red-rgb: 251, 70, 76;
$color-red: #fb464c;
$color-orange-rgb: 233, 151, 63;
$color-orange: #e9973f;
$color-yellow-rgb: 224, 222, 113;
$color-yellow: #e0de71;
$color-green-rgb: 68, 207, 110;
$color-green: #44cf6e;
$color-cyan-rgb: 83, 223, 221;
$color-cyan: #53dfdd;
$color-blue-rgb: 2, 122, 255;
$color-blue: #027aff;
$color-purple-rgb: 168, 130, 255;
$color-purple: #a882ff;
$color-pink-rgb: 250, 153, 205;
$color-pink: #fa99cd;

// Sizes
$size-2-1: 2px;
$size-2-2: 4px;
$size-2-3: 6px;
$size-4-1: 4px;
$size-4-2: 8px;
$size-4-3: 12px;
$size-4-4: 16px;
$size-4-5: 20px;
$size-4-6: 24px;
$size-4-8: 32px;
$size-4-9: 36px;
$size-4-12: 48px;
$size-4-16: 64px;
$size-4-18: 72px;

// Radius
$radius-s: 4px;
$radius-m: 8px;
$radius-l: 12px;
$radius-xl: 16px;

// Font
$font-smallest: 0.8em;
$font-smaller: 0.875em;
$font-small: 0.933em;
$font-ui-smaller: 12px;
$font-ui-small: 13px;
$font-ui-medium: 15px;
$font-ui-large: 20px;
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

$pageWidth: 750px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1200px;
$sidePanelWidth: 380px;
$topSpacing: 6rem;
$text-normal: var(--dark);






$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$cursor-icon: default;
$clickable-icon-color: var(--secondary);
$background-modifier-error: var(--color-red-rgb);
$clickable-icon-stroke: 1.75px;
$clickable-icon-size: 18px;
$search-icon-size: 18px;
$clickable-icon-opacity: 0.85;
$model-primary: var(--light);
$toggle-thumb-color: white;
$toggle-thumb-width: 18px;
$toggle-thumb-height: 18px;
$toggle-border-width: 2px;
$toggle-thumb-radius: 18px;
$toggle-radius: 18px;
$background-modifier-border-hover: purple;
$background-modifier-border: var(--lightgray);
$background-modifier-border-focus: var(--tertiary);
$background-modifier-form-field: var(--highlight);
$toggle-width: 40px;


// Inputs
$input-height: 30px;
$input-radius: 5px;
$input-font-size: $font-ui-small;
$input-border-width: 1px;

// Shadows
$input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09), 0 2px 4px 0 rgba(0,0,0,.15), 0 1px 1.5px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2), 0 0 0 0 transparent;
$input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16), 0 2px 3px 0 rgba(0,0,0,.3), 0 1px 1.5px 0 rgba(0,0,0,.2), 0 1px 2px 0 rgba(0,0,0,.4), 0 0 0 0 transparent;
$shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, .042), 0px 15px 30px rgba(0, 0, 0, .07);
$shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112), 0px 30px 90px rgba(0, 0, 0, 0.2);
$pdf-shadow: 0 0 0 1px $background-modifier-border;
$pdf-thumbnail-shadow: 0 0 0 1px $background-modifier-border;

